.button {
    border-color: lightblue;
    background-color: lightblue;
    transition: background 2s, border-color 2s;
    transition-delay: 1s;
	transition-timing-function: ease;
}

.button:hover {
    border-color: purple;
    background-color: lightpink;
}